a{
    text-decoration: none;
    color: #0a5e8b;
}
a:hover{
    opacity: 0.7;
}
.actions{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 2em;
}
.container{
    background: #0a5e8b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #085078, #85D8CE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #085078, #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */           
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.25);
    position: relative;
    padding: 1.8em;
    margin-top: 1.3em;
}
.fa-music{
    color: #085078;
    font-size: 1.5em;
}
.fa-star{
    color: rgb(255, 217, 0);
}
/* .header{
    background-color: turquoise;
    margin-top: -0.5em;
} */
html{
    font-family: 'IM Fell French Canon SC', serif;
}
img{
    max-width: 100%;
}
ol{

    padding-left: 14.5em;
    
}
.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}
.paragraph{
     line-height: 1.8em;
     text-align: justify;
}
.position{
    background-color: #0a5e8b;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}
.table{
    padding: 1.8em;
    width: 100%;
    text-align: center;
    border-spacing: 0;
}
.table th, .table td{
     padding: 1em;

}
.table tr:nth-child(even){
    background-color: #b2d2f7;
}
/* .text{
    background-color: thistle;
} */
.title{
    text-align: center;
    margin-top: 1em;
}
.title-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #0a5e8b; */
    border-bottom: solid 2px #0a5e8b;
    padding: 1em;
    padding-top: 0;
    font-size: 2em;
}


@media (min-height: 550px){
    .content{
        height: 500px;
    }
}
@media (max-width: 600px){
    .content{
        padding: 0.8em;
    }
    .title{
        margin-top: 0.7em;
        padding-top: 1.5em;
    }
    .table{
        text-align: left;
    }
    td{
        display: block;
        width: 100%;
    }
    td:nth-of-type(1){
        font-size: 2em;
        font-weight: bold;
        color: #0a5e8b;
    }
    th{
        display: none;
    }
    .position{
        padding: 0.3em;
    }
    ol{
        padding-left: 0;        
    }
}